<div class="header-inner">
            <div class="site-meta ">
                <div class="custom-logo-site-title">
                    <a href="/" class="brand" rel="start" style="opacity: 1;">
                        <span class="logo-line-before"><i></i></span>
                        <span class="site-title">{{title}}</span>
                        <span class="logo-line-after"><i></i></span>
                    </a>
                </div>
                <p class="site-subtitle">{{subtitle}}</p>
             </div>

            <div class="site-nav-toggle">
              <button>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
              </button>
            </div>

            <nav class="site-nav">
                <ul id="menu" class="menu">
                    <li class="menu-item menu-item-home">
                      <a href="/" rel="section">
                          <i class="menu-item-icon fa fa-fw fa-home"></i> <br>
                        首页
                      </a>
                    </li>

                    <li class="menu-item menu-item-archives">
                      <a href="/archive/" rel="section">
                          <i class="menu-item-icon fa fa-fw fa-archive"></i> <br>
                        归档
                      </a>
                    </li>

                    <li class="menu-item menu-item-archives">
                      <a href="/tags/" rel="section">
                          <i class="menu-item-icon fa fa-fw fa-tags"></i> <br>
                        标签
                      </a>
                    </li>
                    {%for category in categorys%}

                    <li class="menu-item menu-item-archives" {%if forloop.counter == 1%} style="border-top:solid 1px #f5f7f9" {%endif%}>
                      <a href="/category/{{category.id}}/" rel="section">
                          <i class="menu-item-icon fa fa-fw fa-angle-right"></i> <br>
                          {{category.name}}
                      </a>
                    </li>
                    {%endfor%}

                    <li class="menu-item menu-item-archives" style="border-top:solid 1px #f5f7f9">

                         <a href="/#search" id="search" rel="section">
                          <i class="menu-item-icon fa fa-search"></i>
                         </a>

                        <form action="{%url 'myblog:haystack_search'%}">
                            <input id="unit" type="search" name="q" placeholder="搜索">
                        </form>

                    </li>


                </ul>
            </nav>

        </div>